---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

### Towards Empathetic Conversational Recommender Systems  
   **Authors:** Xiaoyu Zhang, Ruobing Xie, Yougang Lyu, Xin Xin, Pengjie Ren, Mingfei Liang, Bo Zhang, Zhanhui Kang, Maarten de Rijke, Zhaochun Ren  
   **Conference:** RecSys 2024 (Full track, Best Full Paper Award)  
   **DOI:** [10.1145/3640457.3688133](https://doi.org/10.1145/3640457.3688133)

### Variational Reasoning over Incomplete Knowledge Graphs for Conversational Recommendation  
   **Authors:** Xiaoyu Zhang, Xin Xin, Dongdong Li, Wenxuan Liu, Pengjie Ren, Zhumin Chen, Jun Ma, Zhaochun Ren  
   **Conference:** WSDM 2023 (Full track)  
   **DOI:** [10.1145/3539597.3570426](https://doi.org/10.1145/3539597.3570426)

### Cognitive Biases in Large Language Models for News Recommendation  
   **Authors:** Yougang Lyu, Xiaoyu Zhang, Zhaochun Ren, Maarten de Rijke  
   **Workshop:** ROEGEN @ RecSys 2024  
   **DOI:** [10.48550/arXiv.2410.02897](https://doi.org/10.48550/arXiv.2410.02897)

### Memory Networks Based Knowledge-Aware Medical Dialogue Generation  
   **Authors:** Xiaoyu Zhang, Dongdong Li, Pengjie Ren, Zhumin Chen, Jun Ma, Zhaochun Ren  
   **Journal:** Journal of Computer Research and Development, 2022  
   **DOI:** [10.7544/issn1000-1239.20210851](https://doi.org/10.7544/issn1000-1239.20210851)



